<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    {% block link %}

    
    {% endblock link %}

    {% block script%}


    {%endblock script%}
</head>


<body>
    <!--header starts-->
    <header>
        <nav>
            <div class="logo">World of Deserts</div>
            <ul>
                <li><a href={% url 'home' %} class="after">home</a></li>
               {% if request.user.is_superuser %} <li><a href={% url 'admin:index' %} class="after">Admin</a></li>{% endif %}

                {% if request.user.is_authenticated %}
                    <li><a href={% url 'logout'  %} class="signin"><button>logout</button></a></li>
                {% else %}
                    <li><a href={% url 'register'  %} class="signin"><button>Register</button></a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    <!--header ends-->

{% block content %}

{% endblock content %}


    <!--footer starts-->
<footer>
    <p>
        &copy All copyright reserved
    </p>
</footer>
<!--footer ends-->
</body>

</html>