{% extends "base.html" %}
{% load static %}


{% block link %}
<title>homepage</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href={% static 'css/base.css' %}>
<link rel="stylesheet" href={% static 'css/homepage.css' %}>
{% endblock link %}


{% block content %}
<!--main content starts-->
<main>
    {% if request.user.is_authenticated %}



    <form method="post">
        {% csrf_token %}
        <div>
            <div class="center-div">
                {% for desserts in dessert %}
                <div class="card">
                    <div class="image-div"><img src="media/{{desserts.dessert_image}}" class="image"></div>
                    <div class="desert-info-div">
                        <h2>{{ desserts.name }}</h2>
                        <span> price :- {{desserts.price}} /-</span>
                        <span>{{desserts.decription}}</span>
                        <div>
                            <label id="labelofinput{{desserts.pk}}" style="display: none;">Quantitiy:-</label>
                            <input type="number" name="{{ desserts.id }}" value="0" min="0" style="display: none;"
                                id="quantity_{{ desserts.id }}">
                            <button type="button" onclick="toggleQuantityInput('{{ desserts.id }}')"
                                id="addbtn_{{desserts.id}}" class="addtocart">Add to Cart</button>
                        </div>
                    </div>
                </div>

                {% endfor %}
                <button type="submit" class="place-order">Place Order</button>
            </div>
    </form>
    </div>


    {%else%}
    <div class="center-div">
        <div class="homepageMssg">
            <h1>Greetings!</h1>
            <div class="mssg">Login inorder to see this page...</div>
            <a class="loginAnchor" href={% url "login" %}><button class="Login">login?</button></a>
        </div>
    </div>

    {% endif %}
</main>
<!--main section ends-->
{% endblock content %}

{%block script%}

<script>
    function toggleQuantityInput(dessertId) {
        var quantityInput = document.getElementById('quantity_' + dessertId);
        var addbtn = document.getElementById('addbtn_' + dessertId)
        var label = document.getElementById('labelofinput'+dessertId)
        if (quantityInput.style.display === 'none' || quantityInput.style.display === '') {
            quantityInput.style.display = 'inline-block';
            quantityInput.value = 1
            addbtn.innerText = "Delete"
            addbtn.classList.remove('addtocart')
            addbtn.classList.add('delete')
            label.style.display = 'inline-block'
        } else {
            quantityInput.style.display = 'none';
            addbtn.innerText = "Add to Cart"
            quantityInput.value = 0
            addbtn.classList.remove('delete')
            addbtn.classList.add('addtocart')
            label.style.display = 'none'

        }
    }
</script>

{%endblock script%}