{% extends "base.html" %}
{% load static %}


{% block link %}
    <title>homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    <link rel="stylesheet" href={% static 'css/homepage.css' %}>
{% endblock link %}


{% block content %}
<!--main content starts-->
    <main>
        {% if request.user.is_authenticated %}
            <div>hello {{user.username}}</div>
            


            <form method="post">
                {% csrf_token %}
                {% for desserts in dessert %}
                    <label>{{ desserts.name }}</label>
                    <input type="number" name="{{ desserts.pk }}" value="0" min="0">
                    <span> {{desserts.price}} /-</span>
                    <br>
                {% endfor %}
                <button type="submit">Place Order</button>
            </form>


        {%else%}
        <div class="homepageMssg">
            <h1>Greetings!</h1>
            <div class="mssg">Login inorder to see this page...</div>
            <a class="loginAnchor" href={% url "login" %}><button class="Login">login?</button></a>

        </div>
        
        {% endif %}
    </main>
<!--main section ends-->
{% endblock content %}