{% extends 'base.html' %}
{% load static %}

{% block link %}
<title>homepage</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href={% static 'css/base.css' %}>
<link rel="stylesheet" href={% static 'css/Sucessful.css' %}>
{% endblock link %}

{% block content %}
<main>

    <div class="main-div">
        <h1>{{request.user.username}} your order have been confirmed</h1>
        <p class="success">Your order has been placed successfully. Thank you!</p>

        <table>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for orderedItem in orderedItems %}
            <tr>
                <td>{{ orderedItem.dessert.name }}</td>
                <td>{{orderedItem.quantity}}</td>
                <td>{{ orderedItem.totalPrice }}</td>
            </tr>
            {%endfor%}
            <tr>
                <td colspan="3">Total Price: {{totalPrice}}</td>
            </tr>
        </table>

    </div>
</main>



{% endblock content %}