main{
    background-color: #f2f2f2;
    color:#333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px;
    gap: 50px;
    box-sizing: border-box;
    height: 470px;
}

.title {
    font-size: 35px;
}

.intro {
    text-align: center;
    padding: 0px 80px;
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button button {
    background-color: #cccccc;
    padding: 5px 15px;
    font-size: 17px;
    color: #333333;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.7s ease-in-out;
}
.button button:hover{
    background-color: #fec86a;
}
.homepageMssg{
    width:30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}
.Login{
    padding: 10px 12px;
    border: none;
    border-radius: 20px;
    background-color: #001f3f;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.Login:hover{
    background-color: #fec86a;
}

.mssg{
    margin-top: 10%;
    font-size: 24px;
    
}
.loginAnchor{
    margin-top: 10%;
}