main {
    flex: 1;
    min-height: 80vh;

}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;

}

.card {
    width: 90vw;
    min-height:150px;
    background-color: white;
    box-shadow: 0px 0px 4px black;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 40px;
}

.desert-info-div{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
}

.image {
    height: 100%;
    width: 9rem;
    border-radius: 5px;

}

.homepageMssg {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;

}

.Login {
    padding: 10px 12px;
    border: none;
    border-radius: 20px;
    background-color: #001f3f;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.Login:hover {
    background-color: #fec86a;
}

.mssg {
    margin-top: 10%;
    font-size: 24px;

}

.loginAnchor {
    margin-top: 10%;
}

.place-order {
    width: 90vw;
    padding: 1% 0rem;
    cursor: pointer;
    background-color: rgb(153, 255, 153);
    color: green;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px black;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.addtocart {
    background-color: rgba(153, 255, 153, 1);
    color: green;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 4px 2px black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.addtocart:hover {
    background-color: #fec86a;
    color: white;
}

.delete {
    background-color: rgb(255, 154, 154);
    color: rgb(242, 3, 3);
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 4px 2px black;
    cursor: pointer;
}